docker {
    enabled    = true
    runOptions = "-v ${projectDir}:/project"
}

profiles {
    standard {
        process.executor = "local"
    }
}

params {
    input_csv      = "${projectDir}/data/input/GSE41258_series_matrix.txt.gz"
    
    valid_matrix   = "${projectDir}/data/input/GSE14333_series_matrix.txt.gz"
    valid_clinical = "${projectDir}/data/input/GSE14333_clinical_data.csv"
    matrix_110223  = "${projectDir}/data/input/GSE110223_series_matrix.txt.gz"
    matrix_164191  = "${projectDir}/data/input/GSE164191_series_matrix.txt.gz"
    matrix_142987  = "${projectDir}/data/input/GSE142987_sample_count_matrix.txt.gz"
    gpl_platform   = "${projectDir}/data/input/GPL570-55999(2).txt"

    results_dir    = "${projectDir}/results"
    rds_dir        = "${projectDir}/results/rds"
    tables_dir     = "${projectDir}/results/tables"
    figures_dir    = "${projectDir}/results/figures"
}


process {
    cpus     = 1
    maxForks = 1 
    memory   = '3 GB' 

    
    withName: R_Annotation {
        maxForks = 1
    }

    withName: 'Python_KEGGAnalysis|Python_GOAnalysis' {
        maxForks = 1
    }
}
